asgiref==3.2.10
Django==3.0.7
pytz==2020.1
sqlparse==0.2.4
coverage==4.5.4
psycopg2-binary
dj-database-url
whitenoise
djangorestframework==3.11.0
gunicorn
django-rest-firebase-auth
pytest-django
pytest-cov
optimizely-sdk
djongo
dnspython
requests
drf-yasg
